<!DOCTYPE html>
<html>
    <head>
        <title>Nav Webpage</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>If you want to see someething adorable click the button</h1>
        <h1> Also welcome to the nav webapge</h1>
        <p> If not then I guess you will just miss out</p>
        <p> I mean if i were you i would click in and yes that was a threat </p>
        <a href="http://127.0.0.1:5000/picture">
            <button>Something adorable and if you dont think so get ready to fight! </button>
        </a>
        
    </body>
</html>