<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>THIS IS MY LAB 5!</h1>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p style="color:red;text-align:right"> Well, get creative and make it even worse.(Make worse gui would never be me!)</p>
        <p style="color:greenyellow;text-align:left"> Im stealing all of this. Its mine now</p>
        <p style="color:cyan;text-align:center"> Any thoughts</p>
        <p style="color:rosybrown;text-align:center"> I have you looking everywhere</p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p>Kind of ugly & useless right? (What do they even do! They need to get a job!) </p>
        <p style="color:blue;text-align:right"> I don't think this is cluttered at all</p>
        <p style="color:bisque;text-align:left"> Wow this hurts my eyes to look at (Did you know there was a color called bisque?)</p>
        <a href="http://127.0.0.1:5000/example">
            <button>Don't click me unless you want to! </button>
        </a>
    </body>
</html>